nodered/flows.json
[
    {
        "id": "7cd04ac0112924d7",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2e7ffb782503cc36",
        "type": "postgreSQLConfig",
        "name": "NovaFlairs Prod",
        "host": "aws-1-us-east-1.pooler.supabase.com",
        "hostFieldType": "str",
        "port": 5432,
        "portFieldType": "num",
        "database": "postgres",
        "databaseFieldType": "str",
        "ssl": "{\"rejectUnauthorized\":true,\"ca\":\"-----BEGIN CERTIFICATE-----\\nMIIDxDCCAqygAwIBAgIUbLxMod62P2ktCiAkxnKJwtE9VPYwDQYJKoZIhvcNAQEL\\nBQAwazELMAkGA1UEBhMCVVMxEDAOBgNVBAgMB0RlbHdhcmUxEzARBgNVBAcMCk5l\\ndyBDYXN0bGUxFTATBgNVBAoMDFN1cGFiYXNlIEluYzEeMBwGA1UEAwwVU3VwYWJh\\nc2UgUm9vdCAyMDIxIENBMB4XDTIxMDQyODEwNTY1M1oXDTMxMDQyNjEwNTY1M1ow\\nazELMAkGA1UEBhMCVVMxEDAOBgNVBAgMB0RlbHdhcmUxEzARBgNVBAcMCk5ldyBD\\nYXN0bGUxFTATBgNVBAoMDFN1cGFiYXNlIEluYzEeMBwGA1UEAwwVU3VwYWJhc2Ug\\nUm9vdCAyMDIxIENBMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAqQXW\\nQyHOB+qR2GJobCq/CBmQ40G0oDmCC3mzVnn8sv4XNeWtE5XcEL0uVih7Jo4Dkx1Q\\nDmGHBH1zDfgs2qXiLb6xpw/CKQPypZW1JssOTMIfQppNQ87K75Ya0p25Y3ePS2t2\\nGtvHxNjUV6kjOZjEn2yWEcBdpOVCUYBVFBNMB4YBHkNRDa/+S4uywAoaTWnCJLUi\\ncvTlHmMw6xSQQn1UfRQHk50DMCEJ7Cy1RxrZJrkXXRP3LqQL2ijJ6F4yMfh+Gyb4\\nO4XajoVj/+R4GwywKYrrS8PrSNtwxr5StlQO8zIQUSMiq26wM8mgELFlS/32Uclt\\nNaQ1xBRizkzpZct9DwIDAQABo2AwXjALBgNVHQ8EBAMCAQYwHQYDVR0OBBYEFKjX\\nuXY32CztkhImng4yJNUtaUYsMB8GA1UdIwQYMBaAFKjXuXY32CztkhImng4yJNUt\\naUYsMA8GA1UdEwEB/wQFMAMBAf8wDQYJKoZIhvcNAQELBQADggEBAB8spzNn+4VU\\ntVxbdMaX+39Z50sc7uATmus16jmmHjhIHz+l/9GlJ5KqAMOx26mPZgfzG7oneL2b\\nVW+WgYUkTT3XEPFWnTp2RJwQao8/tYPXWEJDc0WVQHrpmnWOFKU/d3MqBgBm5y+6\\njB81TU/RG2rVerPDWP+1MMcNNy0491CTL5XQZ7JfDJJ9CCmXSdtTl4uUQnSuv/Qx\\nCea13BX2ZgJc7Au30vihLhub52De4P/4gonKsNHYdbWjg7OWKwNv/zitGDVDB9Y2\\nCMTyZKG3XEu5Ghl1LEnI3QmEKsqaCLv12BnVjbkSeZsMnevJPs1Ye6TjjJwdik5P\\no/bKiIz+Fq8=\\n-----END CERTIFICATE-----\\n\"}",
        "sslFieldType": "json",
        "applicationName": "",
        "applicationNameType": "str",
        "max": 10,
        "maxFieldType": "num",
        "idle": 1000,
        "idleFieldType": "num",
        "connectionTimeout": 10000,
        "connectionTimeoutFieldType": "num",
        "user": "postgres.whqcokvychwqxulzvxkm",
        "userFieldType": "str",
        "password": "76_Super_Supreme_Pizza!",
        "passwordFieldType": "str"
    },
    {
        "id": "2232977c37e8f14e",
        "type": "inject",
        "z": "7cd04ac0112924d7",
        "name": "Run every 5s",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 460,
        "y": 220,
        "wires": [
            [
                "d2d0a7a2c51bf4b2"
            ]
        ]
    },
    {
        "id": "d2d0a7a2c51bf4b2",
        "type": "function",
        "z": "7cd04ac0112924d7",
        "name": "RNG",
        "func": "const now = new Date();\n\nconst payload = {\n  scenario_id: 1,\n  firebreak_segment_id: 1,\n  drone_id: \"drone-01\",\n  observed_at: now.toISOString(),\n  lat: 38.81234 + (Math.random() - 0.5) * 0.0002,\n  lon: -77.09321 + (Math.random() - 0.5) * 0.0002,\n  alt_m: 42 + (Math.random() - 0.5) * 2,\n  wind_speed_2m_mps: 3.2 + (Math.random() - 0.5) * 0.4,\n  wind_direction_deg: 215 + (Math.random() - 0.5) * 8,\n  flame_length_m: 2.5 + (Math.random() - 0.5) * 0.3,\n  burn_time_s: 17 + (Math.random() - 0.5) * 2,\n  source_kind: \"simulated\",\n  quality_score: 0.92,\n  raw_payload_json: {\n    source: \"node-red-generator\",\n    scenario: \"Brushfire Westline 01\"\n  }\n};\n\nmsg.params = [\n  payload.scenario_id,\n  payload.firebreak_segment_id,\n  payload.drone_id,\n  payload.observed_at,\n  payload.lat,\n  payload.lon,\n  payload.alt_m,\n  payload.wind_speed_2m_mps,\n  payload.wind_direction_deg,\n  payload.flame_length_m,\n  payload.burn_time_s,\n  payload.source_kind,\n  payload.quality_score,\n  JSON.stringify(payload.raw_payload_json)\n];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 220,
        "wires": [
            [
                "e27df2cd89dbf448"
            ]
        ]
    },
    {
        "id": "e27df2cd89dbf448",
        "type": "postgresql",
        "z": "7cd04ac0112924d7",
        "name": "Insert to DB",
        "query": "INSERT INTO telemetry_observations (\n  scenario_id,\n  firebreak_segment_id,\n  drone_id,\n  observed_at,\n  lat,\n  lon,\n  alt_m,\n  wind_speed_2m_mps,\n  wind_direction_deg,\n  flame_length_m,\n  burn_time_s,\n  source_kind,\n  quality_score,\n  raw_payload_json\n)\nVALUES (\n  $1,\n  $2,\n  $3,\n  $4,\n  $5,\n  $6,\n  $7,\n  $8,\n  $9,\n  $10,\n  $11,\n  $12,\n  $13,\n  $14::jsonb\n);",
        "postgreSQLConfig": "2e7ffb782503cc36",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 790,
        "y": 220,
        "wires": [
            [
                "7e58791036496d84"
            ]
        ]
    },
    {
        "id": "7e58791036496d84",
        "type": "debug",
        "z": "7cd04ac0112924d7",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 220,
        "wires": []
    }
]